.loginBackground {
  background: #08132B;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox {
  padding: 5vw 3vw 1vw 3vw;
  width: 30vw;
  text-align: center;
}
