.tag-nav {
    position: relative;
   margin: 0 18px;
   background-color: #ffffff;
   border-radius: 6px;
   padding: 10px 16px;
}

.close-box {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    padding-top: 3px;
    background-color: #fff;
    border-left:1px solid #F0F0F0;
    z-index: 10;
}

.close-box button {
    padding: 6px 7px;
    line-height: 14px;
    text-align: center;
}

.btn-box {
    position: absolute;
    top: 0;
    height: 40px;
    background-color: #fff;
    padding-top: 3px;
    z-index: 10;
}

.btn-box button{
    padding: 6px 4px;
    line-height: 14px;
    text-align: center;
}

.left-btn {
    left: 0;
}
.right-btn {
    right: 36px;
}

.scroll-box {
    transition: left .3s ease;
}
.scroll-box .ivu-tag { margin-right: 16px; background-color: #d8d8d8; border-radius: 10px; cursor: pointer;}
.scroll-box .ivu-tag-primary { background-color: #1d579f;}
