.layout{
  /*border: 1px solid #d7dde4;*/
  background: #f5f7f9;
  position: relative;
  /*border-radius: 4px;*/
  overflow: hidden;
}
.layout-logo{
  width: 200px;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
   float: left;
}

.ivu-layout-header.ivu-layout-header {
  height: 40px;
   background: url('../../assets/header-bg.jpg') no-repeat;
   background-size: 100% 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;;
}

.main-content {
  height: 100vh;
  /*overflow: hidden;*/
  background-color: #f0f2f5;
  padding: 10px;
}

.content-wrapper{
  padding: 18px;
  height: 100vh;
  overflow: auto;
}

.tag-nav-wrapper{
  padding: 0;
  height:60px;
  background:#fff;
  padding: 10px;
}

.tag-nav-wrapper-background {
  background:#F0F0F0;
  height: 40px;
}

.main-content .ivu-btn { border-color: #1d579f; color: #1d579f;}
.main-content .ivu-btn-primary{
   background-color: #1d579f;
   border:#1d579f;
   color: #ffffff;
}
.main-content .btn-clear{
   background-color: #a9bbc6;
   border:#a9bbc6;
   color: #ffffff;
}
.main-content .ivu-page-item-active { border-color: #1d579f;}
.main-content .ivu-input-prefix i, .main-content .ivu-input-suffix i { color: #1d579f;}
.main-content .ivu-date-picker-cells-focused em { box-shadow: 0 0 0 1px #1d579f inset}
.main-content .ivu-date-picker-cells-cell-today em:after { background-color: #1d579f;}
